.no-message-field-container {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-text {
    font-weight: normal;
    margin: 0;
}